:root {
    --text-base: 1rem;
    --text-lg: 1.125rem;
    --text-xl: 2rem;
}

html {
    font-size: 100%;
}

body {
    font-size: var(--text-base);
}

h1 {
    font-size: clamp(1.75rem, 4vw + 1rem, 2.5rem);
}

h2 {
    font-size: calc(var(--text-base) + 1vw);
}

h3 {
    font-size: calc(var(--text-base) + .25vw);
}

p, a, span, textarea, input {
    font-size: 1.15em;
}

@media (max-width: 767px) {
    :root {
        --text-base: 0.9rem;
        --text-xl: 1.5rem;
    }
}