.video_info {

    border-radius: 15px;
    padding: 25px;

    background-color: var(--vision--background-color--default);

}

.container_metadata {

    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    
}

.video_time_metadata {

    display: flex;
    align-items: center;
    gap: 10px;

    margin-bottom: 20px;

    color: var(--vision--color--grey);

}

.video_views {

}

.video_timestamp {

}

.separator {

    width: 5px;
    height: 5px;

    border-radius: 50%;
    background-color: var(--vision--color--grey);

}

.video_name {

    margin: 0 0 10px;

}

.channel_preview {

    display: inline-flex;
    align-items: center;
    gap: 15px;

}

.channel_img {

    border-radius: 50%;

    width: 70px;
    height: 70px;

}

.channel_name {

    font-size: 24px;

}

.subscribe_channel {

    display: flex;
    align-items: center;
    gap: 5px;

    border-radius: 40px;

    padding: 15px;

    font-size: 24px;

    background-color: var(--vision--background-color--grey);

    border: none;

    cursor: pointer;

    transition: background-color .15s linear;

}
.subscribe_channel:hover {

    background-color: var(--vision--background-color--lite-grey);

}