.upload_video {

    display: flex;
    justify-content: space-between;
    gap: 15px;

}

.upload_video > * {

    flex: 0 1 50%;
    width: 0%;

}

@media screen and (max-width: 1024px) {
    
    .upload_video {

        flex-direction: column;

    }

}