.select_video_for_personal_view {

    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.5);
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    z-index: 5;

    text-align: center;
    line-height: 1.75em;

    margin: 0;

    cursor: pointer;

    transition: background-color .3s linear;

}
.select_video_for_personal_view:hover {

    background-color: rgba(0, 0, 0, 0.75);

}