.header_container {

    z-index: 2;

    position: sticky;
    top: 0;

    padding: 15px;

    background-color: var(--vision-background-color--white);

}

.header {

    position: relative;

    display: flex;
    gap: 5px;
    justify-content: center;

}

.container_special {
    width: 640px;
    margin: 0 auto;
}

.header > * + .header > * {
    margin-left: 10px;
}

@media screen and (max-width: 1366px) {
    .header_container {
        padding: 10px;
    }
}

@media screen and (max-width: 1024px) {
    .header_container {
        padding: 8px;
    }
}