/* imports ================================================== */
@import url("./control.css");
@import url("./volumeControl.css");
@import url("./playbackSwitchVideo.css");
@import url("./progressViewingControl.css");
@import url("./selectedFrame.css");
@import url("./snippet.css");
@import url("./additionalInfo.css");
@import url("./timeVideo.css");

/* main ===================================================== */
/* controls container --------------------------------------- */
.controls_container {

    position: absolute;
    top: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;

    padding: 20px;
    box-sizing: border-box;

    width: 100%;
    height: 100%;    

    background: linear-gradient(
        rgba(0, 0, 0, 0.4) 0%,
        transparent 50%,
        rgba(0, 0, 0, 0.4) 100%
    );

    z-index: 3;

}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        cursor: auto;
    }
}
@keyframes disappear {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        cursor: none;
    }
}

/* controls ------------------------------------------------- */
.controls {

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 5px;

}

.top_control_panel {

    display: flex;
    justify-content: space-between;

}

/* time video */
.container_metadata {

    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    
}

.video_time_metadata {

    display: flex;
    align-items: center;
    gap: 10px;

    color: rgb(225, 225, 225);

}

.separator {

    width: 5px;
    height: 5px;

    border-radius: 50%;
    background-color: rgb(225, 225, 225);

}

.video_name {

    color: white;
    margin: 0;

    font-weight: 400;

    margin: 0 0 8px;

}

.video_views_counter {
}

.bottom_control_panel {

    position: relative;
    bottom: 0;

}

.lefl_controls,
.right_controls {

    height: max-content;

    display: flex;
    gap: 5px;
    align-items: center;

}

@media screen and (max-width: 850px) {
    
    .controls {
    }

}