.snippet {

    color: white;

    display: none;
    opacity: 0;

    position: relative;
    left: 0;

    user-select: none;

}

.message_snippet {

    display: inline-block;

}

.keyboard_snippet {

    display: inline-block;

    box-sizing: border-box;
    padding: 5px 10px;

    margin-left: 2px;

    border-radius: 20px;

    font-size: 1em;

    background-color: var(--vision--background-color--lite-grey-blur);
    backdrop-filter: blur(10px);

}