body:has(.light) {

    --vision--background-color--body: rgb(238, 238, 240);
    --vision--background-color--blur: rgba(240, 240, 240, 0.5);
    --vision--background-color--lite-grey-blur: rgba(230, 230, 230, 0.5);
    --vision--background-color--blur-app:rgba(255, 255, 255, 0.8);
    --vision--background-color--hover: rgb(247, 247, 247);
    --vision--background-color--default: white;
    --vision--background-color--lite-grey: rgb(230, 230, 230);
    --vision--background-color--grey: rgb(217, 217, 217);
    --vision--background-color--dark-grey: rgb(175,175,175);

    --vision--background-color--border-for-default: #e1e1e1;
    --vision--background-color--border-for-default-hover: #c4c4c4;

    --vision--color--main: black;
    --vision--color--grey: rgb(116, 116, 116);

    --vision--color_inverted: white;
    --vision--color: black;
    --vision--color_light_active: white;
    --vision--color_inactive: #A3A3A3;
    --vision--color_active: #29DF63;
    --vision--color_muted: #DCECE2;
    --vision--color_invalid: #df2929;

    --vision--border_color: #dddddd;

    --vision--background_color: white;
    --vision--background_color_muted: #f4f4f4;
    --vision--background_color_hover: #e9f5ed;
    --vision--background_color_active: #29DF63;

    --vision--background-color--lite-grey-rgb: 230, 230, 230;
    --vision--background-color--dark-grey-rgb: 175, 175, 175;
    --vision--background-color--default-rgb: 255, 255, 255;

    --vision--background-color--liked: rgb(255, 160, 160);
    --vision--background-color--disliked: #95A5A6;
    --vision--background-color--subscribed: #ffcc00;
    --vision--background-color--has-comments: #00ccff;

    --webchatui--background_color: white;
    --webchatui--background_color_muted: #DCECE2;
    --webchatui--background_color_active: #29DF63;

    --webchatui--color: black;
    --webchatui--color_inactive: #A3A3A3;
    --webchatui--color_active: #29DF63;
    --webchatui--color_muted: #DCECE2;
    --webchatui--color_invalid: #df2929;

}
body:has(.dark) {

    --vision--background-color--body: rgb(23, 23, 26);
    --vision--background-color--blur: rgba(30, 30, 35, 0.7);
    --vision--background-color--blur-app: rgba(40, 40, 45, 0.9);
    --vision--background-color--hover: rgb(60, 60, 65);
    --vision--background-color--default: rgb(32, 32, 36);
    --vision--background-color--lite-grey: rgb(60, 60, 65);
    --vision--background-color--grey: rgb(80, 80, 85);
    --vision--background-color--dark-grey: rgb(23, 23, 26);

    --vision--background-color--border-for-default: rgb(70, 70, 75);
    --vision--background-color--border-for-default-hover: rgb(70, 70, 75);

    --vision--color--main: rgb(240, 240, 240);
    --vision--color--grey: rgb(128, 128, 128);

    --vision--color_inverted: black;
    --vision--color: white;
    --vision--color_light_active: white;
    --vision--color_inactive: #A3A3A3;
    --vision--color_active: #29DF63;
    --vision--color_muted: #93e6bb;
    --vision--color_invalid: #df2929;

    --vision--border_color: #cbcbcb;

    --vision--background_color: #222223;
    --vision--background_color_muted: #343434;
    --vision--background_color_hover: #e9f5ed;
    --vision--background_color_active: #29DF63;

    --vision--background-color--lite-grey-rgb: 60, 60, 65;
    --vision--background-color--dark-grey-rgb: 23, 23, 26;
    --vision--background-color--default-rgb: 32, 32, 36;


    --vision--background-color--liked: rgb(255, 160, 160);
    --vision--background-color--disliked: #95A5A6;
    --vision--background-color--subscribed: #ffcc00;
    --vision--background-color--has-comments: #00ccff;

    --webchatui--background_color: #222223;
    --webchatui--background_color_muted: #DCECE2;

    --webchatui--color: white;
    --webchatui--color_inactive: #A3A3A3;
    --webchatui--color_active: #29DF63;
    --webchatui--color_muted: #DCECE2;
    --webchatui--color_invalid: #df2929;

}