
.info_video {

    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-bottom: 30px;

}

.title {

    margin: 10px 0 0;

    font-size: 32px;

}

.additional_info {

    display: flex;
    align-items: center;
    gap: 10px;

    color: grey;

    margin-bottom: 5px;

}

.channel_link {

    border-radius: 40px;

    background-color: rgb(230, 230, 230);
    color: black;
    text-decoration: none;

    box-sizing: border-box;
    padding: 5px;

    display: inline-flex;
    align-items: center;
    gap: 15px;

}

.channel_photo {

    border-radius: 50%;

    height: 50px;
    width: 50px;

}

.channel_name {
    font-size: 22px;
}

.channel_subscribe {

    display: flex;
    align-items: center;
    height: 100%;

    background-color: rgb(213, 213, 213);

    font-size: 22px;

    border-radius: 30px;

    box-sizing: border-box;
    padding: 12px 15px;

    cursor: pointer;

    transition: background-color .15s linear;

}

.channel_subscribe:hover {
    background-color: rgb(174, 174, 174);
}

.action_panel {

    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 20px;

}

@media screen and (max-width: 1024px) {
    
    .info_video {
        padding: 0 15px;
    }

}