/* fallback */
.fallback {

    border-radius: 20px;

    background: linear-gradient(
        90deg,
        var(--vision-background-color--light-grey),
        var(--vision-background-color--medium-grey)
    );
    background-size: 200% 100%;

    animation: loading 1.5s infinite;

}

@keyframes gradient {
    from {
        background-position: 200% 0;
    }
    to {
        background-position: -200% 0;
    }
}

/*  */
.link_to_id {

    display: block;
    width: 100%;

    box-sizing: border-box;
    padding: 20px 0;
    
    text-decoration: none;

    border-radius: 40px;
    background-color: var(--vision-background-color--light-grey);

    text-align: center;

    transition: background-color .15s linear;

}
.link_to_id:hover {

    background-color: var(--vision-background-color--medium-grey);

}

.action_text {

    color: var(--vision-color--black);
    font-size: 20px;

    margin-bottom: 3px;
    display: block;

}

/* link to user studio */
.link_to_user_studio {

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;

    width: 100%;

    text-decoration: none;
    color: inherit;

    background-color: var(--vision-background-color--light-grey);
    border-radius: 45px;

    box-sizing: border-box;
    padding: 10px;

}
.link_to_user_studio:hover {
    background-color: var(--vision-background-color--medium-grey);
}

.user_photo {

    width: 55px;
    height: 55px;
    
    border-radius: 50%;

    margin-right: 10px;

}

.username {
    display: block;
    margin-bottom: 3px;

    font-size: 1.25em;
    color: var(--vision-color--black);
}

.additional_info {
    display: block;
    font-size: 1em;
    color: var(--vision-color--dark-grey);
}

.icon {
    border-radius: 50%;
    background-color: var(--vision-background-color--medium-grey);

    box-sizing: border-box;
    padding: 15px;
}